body {
    font-family: sans-serif;
    text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gridContainer > div {
    border: 1px solid gray;
    padding : 2%;
    margin: 2%;
}

form > div {
    margin : 2% 0;
}

#bookList > div {
    border-bottom: 1px solid black;
    padding : 2% 0;
}